body {
    width: auto;
    height: auto;
    background: linear-gradient(180deg, #111723 0%, #131A36 38.83%, #251829 78.45%);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans Devanagari";
}

#rodape {
  view-transition-name: footer-content;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 11.76%;
  text-align: center;
}

#rodape h1{
    background: -webkit-linear-gradient(180deg, #E017C5 2.02%, #8343C5 52.31%, #545AC5 77.46%, #3D429C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 260%;
    opacity: 65%;    

}

#line {
    background-color: #9D9D9D;
    width: 100%;
    height: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
}

#line2 {
    background-color: #9D9D9D;
    width: 100%;
    height: 2px;
    position: fixed;
    left: 0;
    bottom: 11.76%;
}

.flex {
    display: flex;
    margin: 0;
    padding: 0;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto;
}

@media screen and (max-width: 768px) {
  #rodape .grid {
    gap: 0.75rem;
  }
  #rodape h1 {
    font-size: clamp(1.1rem, 3vw, 2.2rem);
  }
}

@media screen and (max-width: 480px) {
  #rodape .grid {
    gap: 0.75rem;
  }
  #rodape h1 {
    font-size: clamp(0.5rem, 2vw, 1rem);
  }
}

.gradient{
  background: linear-gradient(90deg, #E017C5 2.02%, #8343C5 52.31%, #545AC5 77.46%, #3D429C 102.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient h1{
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "IBM Plex Sans Devanagari";
  font-size: 12.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 64%; /* 64% */

  margin-bottom: 0;
  margin-left: 6.813rem;
  margin-top: 14.563rem;
}

.gradient h2{
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "IBM Plex Sans Devanagari";
  font-size: 8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 128%; /* 128% */

  margin: 0;
  margin-left: 7.75rem;
}

#perfil{
  margin-left: 14rem;
  width: 43.813rem;
  height: 60.625rem;
}

.buttonI{
  background-color: black;
  border: none;
}

.animate:hover{
  transition: 0.1s;
  font-size: 105%;
  opacity: 1;
  filter: brightness(1.6);
  cursor: pointer;
}

.line{

  width: 0.100rem;
  background-color: white;
  border: white;
  color: white;

  margin-left: 7.75rem;
  margin-right: 2%;
}

.descricao{
  -webkit-text-fill-color: white;
  max-width: 43.063rem;
}

p{
  margin: 0;
}

.redeS{
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 9rem;
  height: 2.625rem;

  background-color: black;
  border: black;
  border-radius: 20.5px;

  margin-top: 1.2rem;
  margin-left: 1rem;
}

.r1{
  margin-left: 7.75rem;
}

.redeS p{
  -webkit-text-fill-color: white;
  margin-left: 5%;
}

.redes:hover{
  cursor: pointer;
}



/*   Transições config */

@view-transition {
  navigation: auto;
}

main {
  view-transition-name: main-content;
}

@keyframes expand-out {
  from { transform: scale(1); opacity: 1; }
  to { transform: scale(1.5); opacity: 0; }
}
@keyframes contract-in {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
::view-transition-old(main-content) {
  animation: expand-out 0.5s ease forwards;
}
::view-transition-new(main-content) {
  animation: contract-in 0.8s ease forwards;
}

::view-transition-old(footer-content) {
  animation: expand-out 0.5s ease forwards;
}
::view-transition-new(footer-content) {
  animation: contract-in 0.8s ease forwards;
}

/*   Transições config END*/





/*  animation for Robotics  */

.timeline {
  position: relative;
  margin: 4rem auto;
  padding: 4rem 2rem;
  width: 100%;
  max-width: 1200px;
}

/* Linha  */
.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: #9D9D9D;
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
}

/* esquerda ou direita */
.timeline-item:nth-child(odd) {
  left: 0;
  text-align: right;
}

.timeline-item:nth-child(even) {
  left: 50%;
  text-align: left;
}

/* fim esquerda ou direita */


/* Marcador */
.marcador {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(0%, -50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.timeline-item:nth-child(even) .marcador {
  left: 0%;
  flex-direction: row-reverse;
}

.M-circulo {
  width: 20px;
  transform: translate(-50%, -0%);
  height: 20px;
  background-color: #E017C5;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  z-index: 2;
}

.M-ano {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}

.M-circuloE {
  width: 20px;
  transform: translate(-265%, -0%);
  height: 20px;
  background-color: #E017C5;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  z-index: 2;
}

.M-anoE {
  font-size: 1.2rem;
  transform: translate(-150%, -0%);
  font-weight: bold;
  color: #ffffff;
}

/* Fim Marcador */


.timeline-conteudo {
  background-color: #1c1f2b;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  margin: 4%;

  opacity: 0;
  transform: scale(0.8);
  animation: slide-in-right 0.6s ease forwards;
  animation-timeline: view();
  animation-range: entry 10% cover 80%;
}

.timeline-conteudoE {
  background-color: #1c1f2b;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  margin: 4%;

  opacity: 0;
  transform: scale(0.8);
  animation: slide-in-left 0.6s ease forwards;
  animation-timeline: view();
  animation-range: entry 10% cover 80%;
}

.timeline-conteudo h3 {
  color: white;
  font-size: 1.5rem;
  margin-top: 0;
}

.timeline-conteudo p {
  line-height: 1.6;
}

.timeline-conteudo img {
  margin-top: 1rem;
  max-width: 100%;
  border-radius: 10px;
}

.timeline-conteudoE h3 {
  color: white;
  font-size: 1.5rem;
  margin-top: 0;
}

.timeline-conteudoE p {
  line-height: 1.6;
}

.timeline-conteudoE img {
  margin-top: 1rem;
  max-width: 100%;
  border-radius: 10px;
}

/* ANIMAÇÃO */
@keyframes fade-in {
  from { opacity: -1; transform: scale(0.6);}
  to {opacity: 1; transform: scale(1);}
}

@keyframes slide-in-right {
  from { opacity: 0; transform: translateX(100px);}
  to { opacity: 1; transform: translateX(0); }
}

@keyframes slide-in-left {
  from { opacity: 0; transform: translateX(-100px); }
  to { opacity: 1; transform: translateX(0); }
}

/* end of animation for Robotics  */





/* Carrosel de imagem externo */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* Carrosel de imagem */

.carrosel {
  margin-top: 5%;
}